<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<!--
	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${catalina.home}/logs/logapi" />
		<param name="DatePattern" value="'.'yyyy-MM-dd.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</layout>
	</appender>
-->	
	
	<appender name="venguidLogAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${catalina.home}/logs/venguid" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	
	<appender name="DataLogAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${catalina.home}/logs/data" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>
	
	<appender name="dataASYNC" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="DataLogAppender" />
	</appender>
	<appender name="guidASYNC" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="venguidLogAppender" />
	</appender>

	<!-- Application Loggers 
	<logger name="tw.venraas.api">
		<level value="info" />
	</logger>
	-->

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>

	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
	
	<logger name="DataLog" additivity="false">
		<level value="debug" />
		<appender-ref ref="dataASYNC" />
	</logger>
	
	<logger name="guidLog" additivity="false">
		<level value="debug" />
		<appender-ref ref="guidASYNC" />
	</logger>
	
	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="file" />
	</root>

</log4j:configuration>
