<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="venapisLogFileAppender"	class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.home}/logs/venapis.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss}|%-5level|%logger - %msg%n</Pattern>
		</encoder>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${catalina.home}/logs/venapis.%i.log</fileNamePattern>
			<minIndex>0</minIndex>
			<maxIndex>9</maxIndex>
		</rollingPolicy>
		
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
	</appender>
	
	<root level="info">
		<appender-ref ref="venapisLogFileAppender" />	  
	</root>

</configuration>
